*.user
*.o
*.d
assignment1/student/*
assignment2/student/*
assignment3/student/*
assignment4/student/*
assignment5/assignment5_1/student/*
assignment5/assignment5_2/student/*
assignment7/1_loop_fission/student/*
assignment7/2_loop_alignment/student/*
assignment7/3_loop_fussion/student/*
assignment8/student/*
assignment9/student/*
